body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 512px;
    height: 512px;
    border: 1px solid gray;
}

.black{
    background-color: black;
}

.size{
    margin: 0 auto;
    display: block;
    margin-bottom: 32px;
}

footer{
    font-size: 24px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 36px;
    height: 36px;
}
